/* Signup */
.error {
    color: #a94442;
}

/* Post and Comment */
.post-date {
    display: inline;
}

.post form,
.comment form {
    display: inline;
}

.commenter {
    display: inline;
}

.post-content {
    margin-top: 10px;
}
