/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}


/* Customize style */
a {
    color: black;
}

a:hover {
    color: #a9a9a9;
    text-decoration: none;
}

hr {
    border-color: black;
}


/* Header */
.nav > li > a:hover,
.nav > li > a:focus {
    color: #a9a9a9;
    background-color: transparent;
}

header hr {
    margin-bottom: 40px;
}


/* Posts */
.posts {
    margin: 40px 0;
}


/* Footer */
footer hr {
    margin-top: 40px;
}

footer a {
    padding: 0 15px;
}


/* For small devices */
@media (max-width: 340px) {
    .title  {
        text-align: right;
        padding-right: 10px;
    }
}

@media (max-width: 400px) {
    footer p {
        width: 100%;
        text-align: right;
    }

    .copy-right {
        padding: 15px;
    }
}

/* Signup */
.signup .error {
    display: inline;
    color: red;
    margin-bottom: 0;
    padding-left: 15px;
}
