<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Multi User Blog</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <link rel="stylesheet" href="/static/css/style.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <header>
        <nav>
          <ul class="nav nav-pills pull-right text-uppercase">
            <li><a href="#">Log in</a></li>
            <li><a href="#">Sign up</a></li>
          </ul>
        </nav>
        <h1 class="title text-uppercase"><a href="/blog">Simple Blog</a></h1>
        <hr>
      </header>

      <div class="content">
        {% block content %}
        {% endblock %}
      </div>

      <footer>
        <hr>
        <p class="pull-right">
          <a href="#">About</a>
          <a href="https://github.com/earlbread">Github</a>
          <a href="https://www.linkedin.com/in/waydi1">LinkedIn</a>
        </p>
        <p class="copy-right">© 2016 Seunghun Lee</p>
      </footer>
    </div>
  </body>
</html>

