<!-- Comment -->
<div class="media">
  <div class="media-body comment">
    <h4 class="media-heading commenter">{{ comment.user.username }}
      <small>{{ comment.created.strftime("%B %d, %Y at %-I:%M %p") }}</small>
    </h4>
    {% if user and (user.key().id() == comment.user.key().id()) %}
    <button id="{{ comment.key().id() }}" type="button"
            class="btn btn-link btn-edit-comment">Edit</button>
    <form action="/blog/delete_comment/{{ comment.key().id() }}" method="post">
      <button type="submit" class="btn btn-link btn-delete">Delete</button>
    </form>
    {% endif %}
    <p class="comment-content-{{ comment.key().id() }}">
      {{ comment._render_text | safe }}
    </p>
    <div id="comment-edit-{{ comment.key().id() }}" class="comment-edit-form">
      <form action="/blog/edit_comment/{{ comment.key().id() }}" method="post">
        <textarea class="form-control" name="content-{{ comment.key().id() }}">{{ comment.content | safe }}</textarea>
        <button id="{{ comment.key().id() }}" type="button"
                class="btn btn-link btn-cancel-comment">Cancel</button>
        <button type="submit" class="btn btn-link">Submit</button>
      </form>
    </div>
  </div>
</div>
