{% extends 'base.html' %}

{% block content %}
<section class="login">
  {% if error %}
  <div class="alert alert-danger" role="alert">
    {{ error }}
  </div>
  {% endif %}

  <form action="/blog/login" method="post">
    <div class="form-group">
      <label for="username">Name</label>
      <input type="text" id="username" name="username" class="form-control">

      <label for="password">Password</label>
      <input type="password" id="password" name="password" class="form-control">
    </div>

    <button type="submit" class="btn btn-default">Log in</button>
  </form>
</section>
{% endblock %}
