{% extends 'base.html' %}

{% block content %}
<!-- Page Content -->
<section class="container login">

  <div class="row">

    <div class="col-lg-2"></div>

    <!-- Login content  -->
    <div class="col-lg-8">

      <!-- Title -->
      <h1>Login</h1>

      <!-- Error -->
      {% if error %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      {% endif %}

      <!-- Login form -->
      <form action="/blog/login" method="post" class="login-form">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control">
        </div>

        <div class="form-group">
          <label for="remember">
            <input type="checkbox" id="remember" name="remember">
            <span>Remember me</span>
          </label>
        </div>

        <button type="submit" class="btn btn-primary">Log in</button>
        <p>Don't have an account? <a href="/blog/signup">Sign Up Now</a></p>
      </form>
      <!-- /form -->
    </div>

    <div class="col-lg-2"></div>

  </div>
  <!-- /.row -->

</section>
<!-- /.container -->
{% endblock %}
