{% extends "base.html" %}

{% block content %}
<article class="container">
  {{ post.render(user) | safe }}
</article>
<!-- /.container -->

<section class="container comment">
  <!-- Blog Comments -->

  <!-- Comments Form -->
  <div class="well">
    <h4>Leave a Comment:</h4>
    <form role="form">
      <div class="form-group">
        <textarea class="form-control" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <hr>

  <!-- Posted Comments -->

  {% for comment in post.comments %}
    {{ comment.render(user) | safe }}
  {% endfor %}

</section>
{% endblock %}
