{% extends "base.html" %}

{% block content %}
<article class="container">
  {{ post.render(user) | safe }}
</article>
<!-- /.container -->

<section class="container comment">
  <!-- Blog Comments -->

  <!-- Comments Form -->
  <div class="well">
    <h4>Leave a Comment:</h4>
    <div class="error"><p>{{ error }}</p></div>
    <form action="/blog/new_comment" method="post" role="form">
      <input type="hidden" name="post_id" value="{{ post.key().id() }}">
      <div class="form-group">
        <textarea name="content" class="form-control" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <hr>

  <!-- Posted Comments -->

  {% for comment in post.comments.order('-created') %}
    {{ comment.render(user) | safe }}
  {% endfor %}

</section>
{% endblock %}
