{% extends "base.html" %}

{% block content %}
<section class="container posts">
  {% for post in posts %}
    {{ post.render(user) | safe}}
  {% endfor %}

  {% if total_page == 0 %}
  <div class="row">
    <div class="col-md-12 text-center">
      {% block no_post_msg %}{% endblock %}
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-md-12">
      <!-- Pager -->
      <ul class="pager">
        <li class="previous">
          {% if page != 1 %}
          <a href="/blog?page={{ page - 1 }}">Prev</a>
          {% endif %}
        </li>
        <li class="next">
          {% if page != total_page and total_page != 0 %}
          <a href="/blog?page={{ page + 1}}">Next</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>

</section>
<!-- /.container -->
{% endblock %}
