{% extends 'base.html' %}

{% block content %}
<!-- Page Content -->
<section class="container">

  <div class="row">

    <div class="col-lg-2"></div>

    <!-- Signup content  -->
    <div class="col-lg-8 signup">

      <!-- Title -->
      <h1>Sign up</h1>

      <!-- Error -->
      {% if error %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      {% endif %}

      <!-- Sign up form -->
      <form action="/blog/signup" method="post" class="signup-form">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control">
        </div>

        <div class="form-group">
          <label for="password">Password Confirmation</label>
          <input type="password" id="confirmation" name="confirmation" class="form-control">
        </div>

        <div class="form-group">
          <label for="username">Email(Optional)</label>
          <input type="email" id="email" name="email" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Sign up</button>
      </form>
      <!-- /form -->
    </div>

    <div class="col-lg-2"></div>

  </div>
  <!-- /.row -->

</section>
<!-- /.container -->


{% endblock %}
<section class="signup">
  <h1>Sign up</h1>

  {% if error %}
  <div class="alert alert-danger" role="alert">
    {{ error }}
  </div>
  {% endif %}

  <form action="/blog/signup" method="post">
    <div class="form-group">
      <label for="username">Name</label><p class="error">{{ error_username }}</p>
      <input type="text" id="username" name="username" class="form-control" value="{{ username }}">

      <label for="email">Email</label><p class="error">{{ error_email }}</p>
      <input type="email" id="email" name="email" class="form-control" value="{{ email }}">

      <label for="password">Password</label><p class="error">{{ error_password }}</p>
      <input type="password" id="password" name="password" class="form-control">

      <label for="verify">Password verify</label><p class="error">{{ error_verify }}</p>
      <input type="password" id="verify" name="verify" class="form-control">
    </div>

    <button type="submit" class="btn btn-default">Sign up</button>

  </form>
</section>

