{% extends 'base.html' %}

{% block content %}
<!-- Page Content -->
<section class="container signup">

  <div class="row">

    <div class="col-lg-2"></div>

    <!-- Signup content  -->
    <div class="col-lg-8">

      <!-- Title -->
      <h1>Sign up</h1>

      <!-- Sign up form -->
      <form action="/blog/signup" method="post" class="signup-form">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control"
                 value="{{ username }}">
          <div class="error">
            <p>{{ error_username }}</p>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control">
          <div class="error">
            <p>{{ error_password }}</p>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password Confirmation</label>
          <input type="password" id="confirmation" name="confirmation" class="form-control">
          <div class="error">
            <p>{{ error_confirmation }}</p>
          </div>
        </div>

        <div class="form-group">
          <label for="username">Email(Optional)</label>
          <input type="email" id="email" name="email" class="form-control"
                 value="{{ email }}">
          <div class="error">
            <p>{{ error_email }}</p>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign up</button>
      </form>
      <!-- /form -->
    </div>

    <div class="col-lg-2"></div>

  </div>
  <!-- /.row -->

</section>
<!-- /.container -->
{% endblock %}
